---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('October 15 2025')}
>
	

	<div style="background: #d6733e; border-radius: 1rem; box-shadow: 0 4px 16px rgba(0,0,0,0.10); padding: 1.5rem; margin-bottom: 1.5rem;">
        <div style="display: flex; align-items: center; margin-bottom: 1rem;">
            <img src="/src/assets/20240912234811.jpg" alt="头像" style="width: 100px; height: 100px; border-radius: 50%; margin-right: 1rem; box-shadow: 0 4px 16px rgba(0,0,0,0.10);" />
            <h3>RaycornM</h3>
        </div>
        <div>
            <p>喜欢打游戏，pc主机街机；<br />音游佬，乌蒙，中二，山东卫星，暮色大师；<br />狒狒人</p>
        </div>
    </div>

	<p>
		这个网站是一个个人分享性质的网站，“日暮茶会”，平时这里会更新我个人的摄影作品以及软件技术相关记录等。<br />
        本人平常比较懒，随缘更新一些摄影内容，或者是平常搞软件代码遇到问题，
        解决后记录问题解决方法、配置步骤等。平日喜欢分享自己日常的所见所摄，
        在空闲时间也喜欢剪一些视频，想用媒体记录下我的这些日常。<br />
	</p>
	
</Layout>
